*.py[cod]
*$py.class
__pycache__/
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
sample_rice_pepper_dataset/
runs/
*.pt
.venv/
.pytest_cache/
.vscode/
.idea/
*.log
.DS_Store
